{% extends 'registration/base_login.html' %}

{% block content %}
  {% if validlink %}
    <div class="login-title">Alterar <strong>Senha</strong></div>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-3 col-xs-12 control-label" style="color: whitesmoke">Senha Antiga</label>
                {{ form.new_password1 }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="col-md-3 col-xs-12 control-label" style="color: whitesmoke">Nova Senha</label>
                {{ form.new_password2 }}
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-info btn-block" type="submit">Entrar</button>
        </div>
    </form>
  {% else %}
    </p>
      <p>
      O link enviado nao é válido. Por favor requisite novamente.
  {% endif %}
{% endblock %}