{% extends 'registration/base_login.html' %}

{% block content %}
    <div class="form-group">
        <div class="col-md-12">
            <H3 style="color: whitesmoke"><p>
                Verifique seu email para continua procedimento de recuperação de acesso.
            </p></H3>
            <p style="color: whitesmoke">
                Obrigado.
            </p>
        </div>
</div>
    <div class="form-group">
        <div class="col-md-12">
            <a class="btn btn-info btn-block" href="{% url 'contas:login' %}">Logar</a>
        </div>
    </div>
{% endblock %}