{% load static thumbnail%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="{% thumbnail photo.photo 500x500 crop %}" alt="" />
    <br>{{ photo.get_like.count }} Likes
        {% for comment in photo.get_comments.all %}
        <p>
            {{ comment.content }}
            {{ comment.owner }}
            {{ comment.created_at }}
        </p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {{ comment_form }}
    </form>
</body>
</html>